.table-view {
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI";
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}

.table-row-cell {
    -fx-font-size: 16px;
}

.table-view .column-header .label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.table-cell {
    -fx-alignment: CENTER;
}